<div class="p-3">
  <h4>Rütbe Tanımları</h4>

  <!-- ARAMA -->
  <div class="d-flex mb-2">
    <input
      type="text"
      class="form-control mr-2"
      placeholder="Kod / Rütbe ara..."
      [(ngModel)]="searchText"
      (input)="onSearchChange()"
      name="searchText"
    />

    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="clearGridSearch()"
    >
      Temizle
    </button>
  </div>

  <div *ngIf="isLoading" class="text-center my-3">
    <span class="spinner-border text-info"></span>
  </div>

  <!-- FORM KARTI -->
  <div class="card mt-4 p-3 shadow-sm">
    <h5>{{ selectedHospital ? 'Hastane Güncelle' : savemodeHospital ? 'Hastane Yeni Kayıt' : '' }}</h5>

    <div class="form-group mt-2">
      <label for="code">Kod</label>
      <input
        id="code"
        type="number"
        class="form-control"
        [(ngModel)]="viewModel.code"
        name="code"
        placeholder="Hastane Kodunu giriniz"
      />
    </div>

    <div class="form-group mt-3">
      <label for="name">Hastane Adı</label>
      <input
        id="name"
        type="text"
        class="form-control"
        [(ngModel)]="viewModel.name"
        name="name"
        placeholder="Hastane adını giriniz"
      />
    </div>

    <div class="form-group mt-3">
      <label for="citycode">Şehir Kodu</label>
      <select
        id="citycode"
        class="form-control"
        [(ngModel)]="viewModel.citycode"
        name="citycode"
      >
        <option value="">Şehir kodu seçiniz</option>
        <option *ngFor="let h of hospitalcodename" [value]="h.code">
          {{ h.code }} - {{ h.name }}
        </option>
      </select>
    </div>

    <div class="d-flex mt-4">

      <button
        *ngIf="!selectedHospital"
        type="button"
        class="btn btn-primary mr-2"
        (click)="openConfirm()"
        [disabled]="!viewModel.code || !viewModel.name || !viewModel.citycode"
      >
        Kaydet
      </button>

      <button
        *ngIf="selectedHospital"
        type="button"
        class="btn btn-danger mr-2"
        (click)="deleteRank()"
      >
        Sil
      </button>

      <button
        *ngIf="!selectedHospital"
        type="button"
        class="btn btn-secondary"
        (click)="newHospital()"
      >
        Yeni Kayıt
      </button>

    </div>
  </div>

  
<dx-tab-panel 
    #tabPanel
    [(selectedIndex)]="selectedIndex"
    [animationEnabled]="true"
    [swipeEnabled]="true"
    [loop]="false"
    [deferRendering]="false"
    class="animated-tabs">
      
    <dxi-item title="Hastane Listesi">
      <div class="mt-4">

        <dx-data-grid
          #hospitalGrid
          [dataSource]="dataSource"
          [remoteOperations]="true"
          [filterRow]="{ visible: true }"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [rowAlternationEnabled]="true"
          keyExpr="id"
          (onRowClick)="onRowSelect($event.data)"
          (onCellPrepared)="onCellPrepared($event)"
        >

          <dxo-paging [pageSize]="10"></dxo-paging>

          <dxi-column dataField="code" caption="Kod"></dxi-column>
          <dxi-column dataField="name" caption="Hastane İsmi"></dxi-column>
          <dxi-column dataField="cityCode" caption="Şehir Kodu"></dxi-column>
          <dxi-column dataField="createdDate" caption="Oluşturulma Tarihi" dataType="date" format="dd.MM.yyyy"></dxi-column>

          <dxi-column type="buttons">
            <dxi-button text="Detay" 
            [onClick]="onDetailClick">
          </dxi-button>
          </dxi-column>
        </dx-data-grid>
      </div>
    </dxi-item>

   
    <dxi-item title="Şehir Listesi">
      <div class="mt-4">

        <dx-data-grid
          #cityGrid
          [dataSource]="city"
          [remoteOperations]="true"
          [filterRow]="{ visible: true }"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [allowColumnResizing]="true"
          [rowAlternationEnabled]="true"
          keyExpr="id"
          (onCellPrepared)="onCellPrepared($event)"
        >
          <dxi-column dataField="code" caption="Kod"></dxi-column>
          <dxi-column dataField="name" caption="Şehir İsmi"></dxi-column>
        </dx-data-grid>

      </div>
    </dxi-item>

  </dx-tab-panel>


  <!-- POPUP -->
  <dx-popup
    [(visible)]="popupVisible"
    [width]="400"
    [height]="200"
    title="Emin misiniz?"
  >
    <div class="p-3">
      <p>Değişiklikleri kaydetmek istediğinize emin misiniz?</p>

      <div class="text-end mt-3">
        <button class="btn btn-success me-2" (click)="saveHospital()">Kaydet</button>
        <button class="btn btn-danger" (click)="popupVisible = false">Vazgeç</button>
      </div>
    </div>
  </dx-popup>

  <dx-popup
    [(visible)]="detailPopupVisible"
    [width]="500"
    [height]="400"
    title="Hastane Detayı"
  >
    <dx-form
      [formData]="selectedRow"
      [colCount]="2"
    >
      <dxi-item dataField="code" [label]="{ text: 'Kod' }"></dxi-item>
      <dxi-item dataField="name" [label]="{ text: 'Hastane Adı' }"></dxi-item>
      <dxi-item dataField="cityCode" [label]="{ text: 'Şehir Kodu' }"></dxi-item>
      <dxi-item
        dataField="createdDate"
        [label]="{ text: 'Oluşturulma Tarihi' }"
        editorType="dxDateBox">
      </dxi-item>
    </dx-form>
  </dx-popup>

</div>
