<dx-tab-panel
  #tabPanel
  [selectedIndex]="0"
  [animationEnabled]="true"
  [swipeEnabled]="true"
  [loop]="false"
  [deferRendering]="false"
  class="animated-tabs">

  <!-- TAB 1 -->
  <dxi-item title="Hastane Listesi">
    <div class="mt-4 p-3">

      <h3 class="mb-4">Dispatch Arama</h3>

      <!-- SATIR 1: TARİHLER -->
      <div class="row g-3">
        <div class="col-md-4">
          <label>Başlangıç Tarihi</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="filterModel.datetime.startDate"
            name="startDate" />
        </div>

        <div class="col-md-4">
          <label>Bitiş Tarihi</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="filterModel.datetime.endDate"
            name="endDate" />
        </div>
      </div>

      <!-- SATIR 2: SELECTLER -->
      <div class="row g-3 mt-3">
        <div class="col-md-2">
          <label>Rütbe</label>
          <select
            class="form-control"
            [(ngModel)]="filterModel.rankId">
            <option [ngValue]="null">Rütbe seçiniz</option>
            <option *ngFor="let r of rankList" [ngValue]="r.id">
              {{ r.name }}
            </option>
          </select>
        </div>

        <div class="col-md-2">
          <label>Kuvvet</label>
          <select
            class="form-control"
            [(ngModel)]="filterModel.forceId">
            <option [ngValue]="null">Kuvvet seçiniz</option>
            <option *ngFor="let f of forceList" [ngValue]="f.id">
              {{ f.name }}
            </option>
          </select>
        </div>

        <div class="col-md-2">
          <label>Hastane</label>
          <select
            class="form-control"
            [(ngModel)]="filterModel.hospitalId">
            <option [ngValue]="null">Hastane seçiniz</option>
            <option *ngFor="let h of hospitalList" [ngValue]="h.id">
              {{ h.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- BUTTON -->
      <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary px-4" (click)="loadDispatch()">
          Dispatch Getir
        </button>
      </div>

      <hr class="my-4">

  <dx-data-grid
    [dataSource]="dispatchlist"
    [showBorders]="true"
    (onRowClick)="onRowClick($event)">

    <dxi-column width="50" cellTemplate="checkTemplate"></dxi-column>
    <dxi-column dataField="dispatchId" caption="Dispatch ID"></dxi-column>
    <dxi-column dataField="hospitalName" caption="Hastane"></dxi-column>

    <div *dxTemplate="let d of 'checkTemplate'">
      <input type="checkbox" [checked]="d.data.selected" />
    </div>

  </dx-data-grid>

  <div class="mt-3 d-flex gap-2">
    <button class="btn btn-danger" (click)="openPdf()">PDF Aç</button>

    <button
      *ngIf="canSend"
      class="btn btn-success"
      (click)="saveAndSend()">
      Kaydet ve Gönder
    </button>
  </div>

  <dx-popup
    [(visible)]="isPdfPopupVisible"
    [width]="900"
    [height]="700"
    title="Dispatch PDF">

    <app-dispatchpdf
      [dispatchIds]="pdfDispatchIds"
      (finished)="onPdfFinished($event)">
    </app-dispatchpdf>

  </dx-popup>


    </div>
    </dxi-item>

  <!-- TAB 2 -->
  <dxi-item title="Provizyon Durum Ozeti">
    <div class="mt-4 p-3">
      <h3 class="mb-4">Provizyon Durum Ozeti Arama</h3>
      <div class="row g-3">
        <div class="col-md-4">
          <label>Başlangıç Tarihi</label>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="dispatchSummaryInput.createdDate"
            name="startDate" />
        </div>

        <div class="col-md-4">
          <label>Bitiş Tarihi</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="dispatchSummaryInput.purchaseId"
            name="endDate" />
        </div>
      </div>

       <div class="d-flex justify-content-end mt-4">
        <button class="btn btn-primary px-4" (click)="loadDispatchSummary()">
          Dispatch Getir
        </button>
      </div>

      <dx-data-grid
        [dataSource]="dispatchlist"
        [columnAutoWidth]="true"
        [showBorders]="true"
        [hoverStateEnabled]="true"
        [selection]="{ mode: 'multiple', showCheckBoxesMode: 'always' }"
        (onSelectionChanged)="onSelectionChanged($event)">

        <dxi-column dataField="dispatchId" caption="Provizyon Numarası"></dxi-column>
        <dxi-column dataField="dispatchCode" caption="Kod"></dxi-column>
        <dxi-column dataField="hospitalName" caption="Hastane"></dxi-column>
        <dxi-column dataField="forceName" caption="Kuvvet"></dxi-column>
        <dxi-column dataField="rankName" caption="Rütbe"></dxi-column>
        <dxi-column dataField="personFullName" caption="Kişi"></dxi-column>

    </dx-data-grid>

    </div>
  </dxi-item>

</dx-tab-panel>
