<div class="p-3">

  <h3 class="mb-4">Dispatch Arama</h3>

  <!-- SATIR 1: TARİHLER -->
<div class="row g-3">
  <div class="col-md-4">
    <label>Başlangıç Tarihi</label>
    <input 
      type="date"
      class="form-control"
      [(ngModel)]="filterModel.datetime.startDate"
      name="startDate"
    />
  </div>
  
  <div class="col-md-4">
    <label>Bitiş Tarihi</label>
    <input 
      type="date"
      class="form-control"
      [(ngModel)]="filterModel.datetime.endDate"
      name="endDate"
    />
  </div>

</div>

<!-- SATIR 2: RÜTBE -->
<div class="row g-3 mt-2">
  
  <div class="col-md-2">
    <label>Rütbe</label>
    <select
      class="form-control"
      name="rankId"
      [(ngModel)]="filterModel.rankId">

      <option [ngValue]="null">Rütbe seçiniz</option>
      <option *ngFor="let r of rankList" [ngValue]="r.id">
        {{ r.name }}
      </option>
    </select>
  </div>

  <div class="col-md-2">
    <label>Kuvvet</label>
    <select
      class="form-control"
      name="forceId"
      [(ngModel)]="filterModel.forceId">

      <option [ngValue]="null">Kuvvet seçiniz</option>
      <option *ngFor="let r of forceList" [ngValue]="r.id">
        {{ r.name }}
      </option>
    </select>
  </div>

  <div class="col-md-2">
    <label>Hastane</label>
    <select
      class="form-control"
      name="forceId"
      [(ngModel)]="filterModel.hospitalId">

      <option [ngValue]="null">Hastane seçiniz</option>
      <option *ngFor="let r of  hospitalList" [ngValue]="r.id">
        {{ r.name }}
      </option>
    </select>
  </div>

</div>


  <div class="d-flex justify-content-end mt-3">
    <button 
      class="btn btn-primary px-4"
      (click)="loadDispatch()">
      Dispatch Getir
    </button>
  </div>

  <hr class="my-4">

  <!-- GRID -->
  <dx-data-grid
      [dataSource]="dispatchlist"
      [columnAutoWidth]="true"
      [showBorders]="true">
      <dxi-column dataField="dispatchCode" caption="Kod"></dxi-column>
      <dxi-column dataField="hospitalName" caption="Hastane"></dxi-column>
      <dxi-column dataField="forceName" caption="Kuvvet"></dxi-column>
      <dxi-column dataField="rankName" caption="Rütbe"></dxi-column>
      <dxi-column dataField="personFullName" caption="Kişi"></dxi-column>
  </dx-data-grid>

</div>
